.iconSlot {
  display: inline-flex;
  flex: none;
  align-items: center;
  overflow: hidden;
}

.iconSlot > svg {
  display: block;
  width: 100%;
  height: 100%;
}

.iconSlot[data-size='100'] {
  width: var(--icon-100);
  height: var(--icon-100);
}

.iconSlot[data-size='150'] {
  width: var(--icon-150);
  height: var(--icon-150);
}

.iconSlot[data-size='200'] {
  width: var(--icon-200);
  height: var(--icon-200);
}

.iconSlot[data-size='250'] {
  width: var(--icon-250);
  height: var(--icon-250);
}

.iconSlot[data-size='300'] {
  width: var(--icon-300);
  height: var(--icon-300);
}

.iconSlot[data-size='400'] {
  width: var(--icon-400);
  height: var(--icon-400);
}
