@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('../node_modules/@fontsource-variable/inter/files/inter-latin-wght-normal.woff2') format('woff2-variations');
}

:root {
  color-scheme: dark;
}

body {
  background: var(--color-background-page);
  color: var(--color-text-primary);
}
